.route-card {
  
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  margin-top: 20px;
  margin-right:50px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;;
  &:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); 
    border: 2px solid #fff9c4
  }


}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #555;
}

.value {
  font-size: 14px;
  color: #444;
  padding-left: 28px;
}

.semi-image img {
  width: 60px;
  height: auto;
}

.image,
.icon {
  width: 20px;
  height: 20px;
}
.route-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f5a623; 
  margin-bottom: 12px;
  text-align: center;
  border-bottom: 2px solid #f5a623;
  padding-bottom: 6px;
}