.map-card {
  height: 300px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 50px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;;
  &:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); 
    border: 2px solid #fff9c4
  }

  
}

#leaflet-map {
  width: 100%;
  height: 100%;
   

}
@media (max-width: 768px) {
  .map-card {
    height: 300px; 
    min-height: 300px;
  }
}
@media (prefers-color-scheme: dark) {
  .map-card {
    background: #2a2a2a;
    border: 1px solid #444;
  }
}